.books-container {
    text-align: center;
    padding: 50px;
    background-color: #F8E7F6;
  }
  
  .title {
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #6a0b6d;
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
  .book-card {
    background-color: #FA8BFF;
    background-image: linear-gradient(180deg, #FA8BFF 0%, #6a0b6d 86%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .book-card:hover {
    transform: translateY(-10px);
  }
  
  .book-image {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .book-title, .book-author {
    margin: 10px 0;
    color: white;
  }
  
  .dis {
    color: #cfcfcf;
    margin-bottom: 20px;
  }
  
  .buy-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f094cb;
    color: rgb(87, 70, 70);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #ff0000;
    color: white;
  }

  @media (max-width: 400px) {
    .books-container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (max-width: 340px) {
    .books-container{
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 320px) {
    .books-container{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  