.news-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1800px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
  }
  h1,h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .news-info {
    background: #6a0b6d;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
    height: 350px;
    width: 100%;
  }
  
  .news-info h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .news-info p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: #c9c3c3;
  }
  
  .tuto-news-num {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #F8E7F6;
  }
  .tuto-news-num-part{
    margin-top: 30px;
    max-width: 920px;
    height: 100%;
    gap: 150px;
    text-align: center;
  }
  .tuto-news-num-text {
    max-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 100%;
  }
  
  .tuto-news-num-text h2 {
    color: #42135c;
    font-size: 35px;
  }
  
  .tuto-news-num-text p {
    font-size: 16px;
    color: #776999;
  }
  .news-num-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
  }

  .news-num-im{
    height: 380px;
    width: 90%;
    object-fit: cover;
  }
  
  .tuto-news2-num {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #F8E7F6;
  }
  .tuto-news2-num-part{
    margin-top: 30px;
    max-width: 920px;
    height: 100%;
    gap: 150px;
    text-align: center;
  }
  .tuto-news2-num-text {
    max-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 100%;
  }
  
  .tuto-news2-num-text h2 {
    color: #42135c;
    font-size: 35px;
  }
  
  .tuto-news2-num-text p {
    font-size: 16px;
    color: #776999;
  }
  .news-num2-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
  }

  .news-num2-im{
    height: 380px;
    width: 90%;
    object-fit: cover;
  }